# PostgreSQL
POSTGRES_DB=zonas_db
POSTGRES_USER=zonas_user
POSTGRES_PASSWORD=zonas_pass
POSTGRES_PORT=5432

# Spring Boot app
APP_PORT=8080

# Zona seed (solo si la tabla zonas está vacía)
ZONA_NAME=Zona Principal
ZONA_CODE=Z001
ZONA_DESCRIPTION=Zona creada desde docker-compose
ZONA_TYPE=REGULAR
