node_modules/
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.lof
*.lot
*.lol
*.dvi
*.ps
*.thm
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.bcf
*.run.xml
*.pdfsync
*.eps
*.brf
*.lsg
*.maf
*.mtc*
*.mlf
*.spl
settings.json
*.syc
*.tdo
!*.pdf
*.tex