# General
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
port=3000 # Puerto del API Gateway

# Llave de Criptografía (Debe ser de exactamente 32 caracteres)
ENCRYPTION_KEY=my-super-secret-key-32-chars-!!

# Puertos y Hosts de Microservicios (Para el Gateway)
SVC_CLIENTES_HOST=svc-clientes
SVC_CLIENTES_PORT=4001
SVC_CUENTAS_HOST=svc-cuentas
SVC_CUENTAS_PORT=4002
SVC_TRANSACCIONES_HOST=svc-transacciones
SVC_TRANSACCIONES_PORT=4003

# Broker de Eventos (Redis)
REDIS_HOST=redis
REDIS_PORT=6379

# Base de datos PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
# Si ejecutas sin docker-compose, debes definir a cuál te conectas:
# DB_DATABASE=UsuariosBDD
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=false

# En desarrollo puedes dejar true para crear tablas automaticamente.
# En produccion usa migraciones y cambia a false.
DB_SYNCHRONIZE=true
DB_LOGGING=true

# Carga datos demo si la base esta vacia al iniciar el servicio de clientes.
DB_SEED_DEMO=true
