# General
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Puertos HTTP de cada microservicio
CLIENTES_PORT=4001
CUENTAS_PORT=4002
TRANSACCIONES_PORT=4003

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=mushuc_runa
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=false

# En desarrollo puedes dejar true para crear tablas automaticamente.
# En produccion usa migraciones y cambia a false.
DB_SYNCHRONIZE=true
DB_LOGGING=true

# Carga datos demo si la base esta vacia al iniciar el servicio de clientes.
DB_SEED_DEMO=true
